<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' href='/stylesheets/mui.css' integrity="sha256-sU/MtbpbQ14BwcGPPPI/Ce2rUa00FOAcoGxfVFNlaow=" crossorigin="anonymous" />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' href='/stylesheets/style.css' integrity="sha256-QzNoZGBCMjmTri3J/X7lU/mjXkNY/MXoKRHVa4i1VsQ=" crossorigin="anonymous" />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <script type='text/javascript' src='/javascripts/mui.js' integrity="sha256-s35yGLwtqow6vNV+nFWzF4HOpsKuPWFmagZbJ8hXbA8=" crossorigin="anonymous"></script>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓
      <style></style>
    -->
  </head>
  <body>
    <%- body -%>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓
      <script></script>
    -->
  </body>
</html>